---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"articles">;
}

const { entry } = Astro.props;
---

<a href={`/blog/${entry.collection}/${entry.slug}`} class="relative group flex flex-nowrap py-3 px-4 pr-10 bg-white border-[3px] border-darkGray hover:text-darkGray transition-all duration-300 ease-in-out drop-shadow-[6px_6px_0px_#111] hover:drop-shadow-[0px_0px_0px_#111]">
  <div class="flex flex-col flex-1 truncate">
		<div class=" text-darkGray text-[15px]">
			{entry.data.title}
		</div>
    <div class="text-[15px] text-lightGray">
			{entry.data.description}
    </div>
		
		<div class="flex flex-wrap items-center gap-2 pt-2">
			{entry.data.tags?.map(t => <div class="bg-darkGray px-2 py-1 text-white text-xs hover:underline">{t}</div>)}
		</div>
  </div>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24"
    class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current">
    <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
    <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
  </svg>
</a>
